<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangli.web.mapper.EmployeeInfoMapper">

    <resultMap id="BaseResultMap" type="com.huangli.web.domain.EmployeeInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="empDegreeName" column="emp_degree_name" jdbcType="VARCHAR"/>
            <result property="fgActive" column="fg_active" jdbcType="VARCHAR"/>
            <result property="revision" column="revision" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,emp_name,sex,
        age,dept_name,emp_degree_name,fg_active,
        revision,created_by,created_time,
        updated_by,updated_time
    </sql>
    <select id="countByParams" resultType="java.lang.Long">
        select count(1)
        from employee_info
        where fg_active = '1'
        <if test="param.empName != null and param.empName != ''">
            and emp_name like concat('%', #{param.empName} ,'%')
        </if>
        <if test="param.deptName != null and param.deptName != ''">
            and dept_name = #{param.deptName}
        </if>
        <if test="param.empDegreeName != null and param.empDegreeName != ''">
            and emp_degree_name = #{param.empDegreeName}
        </if>
    </select>
    <select id="selectByParams" resultType="com.huangli.web.domain.EmployeeInfo">
        select <include refid="Base_Column_List"/>
        from employee_info
        where fg_active = '1'
        <if test="param.empName != null and param.empName != ''">
            and emp_name like concat('%', #{param.empName} ,'%')
        </if>
        <if test="param.deptName != null and param.deptName != ''">
            and dept_name = #{param.deptName}
        </if>
        <if test="param.empDegreeName != null and param.empDegreeName != ''">
            and emp_degree_name = #{param.empDegreeName}
        </if>
        order by emp_name
        <if test="page != null and page.page != null and page.limit != null">
            limit #{page.page}, #{page.limit}
        </if>
    </select>
</mapper>
